<div class="row align-items-center" [ngClass]="{'show' : selectedData.length >10 }" *ngIf="selectedData.length >10">
    <!-- We show 'Group Actions' div if smth are selected -->
    <div class="col-xl-12">
        <div>
            <label> <span>Seçilen degerler </span> {{ selectedData.length }} </label>
            <button (click)="deleteItem()" mat-raised-button color="accent" matTooltip="Delete selected customers"
                class="mat-button-mt-4">
                <mat-icon>delete</mat-icon>
                Delete All
            </button>&nbsp;<!-- Call 'delete-entity-dialog' from _shared folder -->


            <button (click)="updateStatusForItem()" mat-raised-button matTooltip="Update status for selected customers"
                class="mat-button-mt-4">
                <mat-icon>update</mat-icon>
                Update status
            </button>
        </div>

    </div>
</div>


<div class="row justify-content-center" *ngIf="!isSearch">
    <div class="col-lg-4" *ngIf="title!=''">
        <h4> {{title}} </h4>
    </div>
</div>

<div class="row " *ngIf="isSearch">
    <div class="col-lg-4" *ngIf="title!=''">
        <h4> {{title}} </h4>
    </div>

    <div class="col-lg-8" [ngClass]="{'show' : selectedData.length >1 }" *ngIf="selectedData.length >1">
        <label> <span>Seçilen degerler </span> {{ selectedData.length }} </label>
        <button (click)="deleteItem()" mat-raised-button color="accent" matTooltip="Delete selected customers"
            class="mat-button-mt-4">
            <mat-icon>delete</mat-icon>
            Delete All
        </button>&nbsp;<!-- Call 'delete-entity-dialog' from _shared folder -->


        <button (click)="updateStatusForItem()" mat-raised-button matTooltip="Update status for selected customers"
            class="mat-button-mt-4">
            <mat-icon>update</mat-icon>
            Update status
        </button>
    </div>
    <div class="col  offset-md-7" *ngIf="selectedData.length <=1">

    </div>

    
    <div class="col  align-self-end" *ngIf="isSearch">
        <mat-form-field style="width: 100%;">
            <input matInput [(ngModel)]="filter" placeholder="Filter..." (keyup)="onFilterTextBoxChanged()">
        </mat-form-field>
    </div>

</div>

<div class="mat-table__wrapper">

    <ag-grid-angular #agGrid [style.height]="height" class="ag-theme-material" [rowData]="rowData"
        [pagination]="pagination" [columnDefs]="columnDefs" [animateRows]="true" [defaultColDef]="defaultColDef"
        [autoGroupColumnDef]="autoGroupColumnDef" [frameworkComponents]="frameworkComponents"
        [paginationPageSize]="paginationPageSize" [suppressMoveWhenRowDragging]="true" [rowDragManaged]="true"
        [allowContextMenuWithControlKey]="true" [getContextMenuItems]="getContextMenuItems" rowSelection="multiple"
        (sortChanged)="onSortChanged($event)" (gridReady)="onGridReady($event)" (rowDragEnd)="onRowDragEnd($event)"
        (columnMoved)="onColumnMoved()" (selectionChanged)="onSelectionChanged($event)">
    </ag-grid-angular>

    <!-- geçici kaldırdım (sortChanged)="onSortChanged($event)" -->
</div>