<div class="body">
    <div class="">
        <div class="text-center">
            <!-- <img  class="pb-4" src="../../../assets//general/logo_buyuk.png" alt="" width="330px" height="120px"> -->

            <div class="row">

                <div class="col-lg-6">

                    <img src="../../../assets/svg/auth-login.svg" height="600px" alt="" style="margin-right: 12px;">

                </div>

                <div class="col-lg-6">
                    <span
                        style="font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-style: italic; ">
                        A.S </span>

                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</div>