<div class="modalBody">


                                          
  <div class="card flex flex-wrap gap-3">
    <div class="flex-auto">
        <label for="blockspace" class="font-bold block mb-2"> {{ "TEXT.Name" | translate}} </label>
        <input pInputText id="blockspace"  pKeyFilter="alphanum" class="w-full" />
    </div>
    <div class="flex-auto">
      <label for="blockspace" class="font-bold block mb-2"> {{ "TEXT.Surname" | translate}} </label>
      <input pInputText id="blockspace"   pKeyFilter="alphanum" class="w-full" />
    </div>
</div>
 

    <div class="header" style="padding-bottom: 10px;"> 
    
      <div style="  margin: 0 -20px;">
        <span >{{'TEXT.Add' | translate}} </span>
        <span [mat-dialog-close]="data.animal" style=" position: absolute;  top: 10px;right: -20px;">
          <mat-icon> close</mat-icon>
        </span>
      </div>
    </div>
    <div class="">   
                        <form action="" [formGroup]="UserForm">
                            <div class=" text-center">     
                              <p-multiSelect [options]="roleList" 
                              formControlName ="roleIds" optionLabel="name" 
                              [style]="{ minWidth: '200px', minHeight: '44px' ,padding:'0'}"
                              [placeholder]="'TEXT.Selected' | translate"
                              optionValue="value"></p-multiSelect>
                            </div>
                            <br>
                            <!-- <mat-form-field appearance="outline" class="width50">
                                <mat-label>{{ "TEXT.Name" | translate}}</mat-label>
                                <input matInput autocomplete="off" formControlName="firstName">
                                <mat-error *ngIf="asSettinsService.isControlHasError('firstName','required',UserForm)">
                                    <strong>{{ 'TEXT.Required' | translate }}</strong>
                                </mat-error> 
                            </mat-form-field> -->
                                         
                          <div class="card flex flex-wrap gap-3">
                            <div class="flex-auto">
                                <label for="blockspace" class="font-bold block mb-2"> {{ "TEXT.Name" | translate}} </label>
                                <input pInputText id="blockspace" formControlName="firstName"  class="w-full" />
                            </div>
                            <div class="flex-auto">
                              <label for="blockspace" class="font-bold block mb-2"> {{ "TEXT.Surname" | translate}} </label>
                              <input pInputText id="blockspace" formControlName="lastName"  class="w-full" />
                            </div>
                        </div>
                        

<!--                     
                 
                            <mat-form-field appearance="outline"  class="width50">
                                <mat-label>{{"TEXT.Surname" | translate}}</mat-label>
                                <input matInput formControlName="lastName" autocomplete="off">

                                <mat-error *ngIf="asSettinsService.isControlHasError('lastName','maxlength',UserForm)">
                                  <strong>{{ 'TEXT.MAX_LENGTH_FIELD' | translate }} 50</strong>
                                </mat-error>
                            </mat-form-field> -->

                            <mat-form-field appearance="outline"  class="width50" >
                                <mat-label>{{"TEXT.Email" | translate}}</mat-label>
                                <input matInput formControlName="email" autocomplete="off">
                                <mat-error *ngIf="asSettinsService.isControlHasError('email','maxlength',UserForm)">
                                  <strong>{{ 'TEXT.Email' | translate }} 50</strong>
                                </mat-error>
                                <mat-error *ngIf="asSettinsService.isControlHasError('email','email',UserForm)">
                                    <strong>{{ 'TEXT.Email' | translate }} 50</strong>
                                  </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline"  class="width50" >
                                <mat-label>{{"TEXT.Username" | translate}}</mat-label>
                                <input matInput formControlName="username" autocomplete="off">
                            </mat-form-field>

                            <div class="width50">

                              <mat-checkbox class="example-margin"  (change)="actionCheckedSet($event.checked)" formControlName="isApproved"   [checked]="UserForm.value.checked" >  {{'TEXT.Status' | translate }} </mat-checkbox>

                     
                            </div>
                 
                
           

           
                        </form>


            </div>

  

<div class="rightCrudBtn">
    <button mat-button [mat-dialog-close]="data.animal">{{'TEXT.CLOSE' | translate }}</button>

    <button mat-button class="btnSave" type="submit" (click)="save()">
       {{'TEXT.SAVE' | translate }}
    </button>     
</div>




</div>  








