<div class="modalBody">


    <div class="header" style="padding-bottom: 10px;"> 
    
      <div style="  margin: 0 -20px;">
        <span >{{'TEXT.Add' | translate}} </span>
        <span [mat-dialog-close]="data.animal" style=" position: absolute;  top: 10px;right: -20px;">
          <mat-icon> close</mat-icon>
        </span>
      </div>
    </div>
    <div class="content" fxLayout="row wrap">         
  

                
                        <form class="form text-center "  action="" [formGroup]="UserForm">
                            <div class=" text-center">
                                <!-- <app-img-upload [imgURL]="imgUrl" controlName="file_data" typeName="file_ext" ></app-img-upload> -->
                            </div>
                            <br>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>{{ "TEXT.Name" | translate}}</mat-label>
                                <input matInput autocomplete="off" formControlName="firstName">
                                <mat-error *ngIf="asSettinsService.isControlHasError('firstName','required',UserForm)">
                                    <strong>{{ 'TEXT.Required' | translate }}</strong>
                                </mat-error> 
                            </mat-form-field>
                                         
                 
                            <mat-form-field appearance="outline"  class="full-width">
                                <mat-label>{{"TEXT.Surname" | translate}}</mat-label>
                                <input matInput formControlName="lastName" autocomplete="off">

                                <mat-error *ngIf="asSettinsService.isControlHasError('lastName','maxlength',UserForm)">
                                  <strong>{{ 'TEXT.MAX_LENGTH_FIELD' | translate }} 50</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline"  class="full-width" >
                                <mat-label>{{"TEXT.Email" | translate}}</mat-label>
                                <input matInput formControlName="email" autocomplete="off">

                                <mat-error *ngIf="asSettinsService.isControlHasError('email','maxlength',UserForm)">
                                  <strong>{{ 'TEXT.Email' | translate }} 50</strong>
                                </mat-error>
                                <mat-error *ngIf="asSettinsService.isControlHasError('email','email',UserForm)">
                                    <strong>{{ 'TEXT.Email' | translate }} 50</strong>
                                  </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline"  class="full-width" >
                                <mat-label>{{"TEXT.Username" | translate}}</mat-label>
                                <input matInput formControlName="username" autocomplete="off">
                            </mat-form-field>
                            <!-- <mat-form-field appearance="outline" class="full-width">
                                <mat-label>{{'TEXT.COUNTRY' | translate }}</mat-label>
                                <mat-select formControlName="country_iso_code_2">
                                    <mat-option *ngFor="let country of countriesList" [value]="country.iso_code_2">
                                        {{country.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->

                        </form>


            </div>

  

<div class="rightCrudBtn">
    <button mat-button [mat-dialog-close]="data.animal">{{'TEXT.CLOSE' | translate }}</button>

    <button mat-button class="btnSave" type="submit" (click)="save()">
       {{'TEXT.SAVE' | translate }}
    </button>     
</div>




</div>  








