.p-multiSelect ol, ul{
    padding-left: 0 !important;
}

.p-multiselect .p-multiselect-label {
    height: 100%;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
  
    /* Body/M, regular */
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 150% */
  
    /* Neutral/950 */
  
    color: #313f59;
  }
  